<footer>
    <div class="container">
        <div id="companyName">
            &copy; Code Tech &nbsp; &nbsp;  All Rights Reserved
        </div>
    
        <div >
            <p><a href="/">Home</a></p>
            <p><a href="/user/Profile">Profile</a></p>
        </div>
    </div>
</footer>