<header>
    <div id="container-flex">
        <div class="F_user">codeail</div>


        <% if(locals.user){ %>
            <div class="F_user">
                <p>
                    <span><%= user.name %></span>
                    <a href="/user/Sign-out">Sign-out</a>
                </p>
            </div>

            <% }else{ %>
                <div class="F_user">
                    <p>
                        <a href="/user/sign-in"> Sign-in </a>
                        <a href="/user/sign-up">Sign-up</a>
                    </p>

                </div>

                <% } %>


    </div>


</header>