<h1>Sign -In</h1>

<form action="/user/create-session" method="post">
    <input type="email" name="email" required placeholder="abc123@xyz.com"><br>
    <input type="password" name="password" required placeholder="Enter Your Password"><br>
    <button type="submit">Sign In</button>
</form>
