<h1>Sign -Up</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" required placeholder="Enter Your Name"><br>
    <input type="email" name="email" required placeholder="abc123@xyz.com"><br>
    <input type="password" name="password" required placeholder="Enter Your Password">
    <br>
    <input type="password" name="confirm_password" required placeholder="confirm password"><br>
    <button type="submit">Sign Up</button>
</form>