body{
    color: black;
    background-color: cornflowerblue;
    
    .box{
        
        height: 30vh;
        margin-top: 10%;
        font-size: larger;

        div{
            color: white;
        }
        

    }
}